/*

!**/.gitignore
!/alsa/
!/calcurse/
!/cheat/
!/cppman.cfg
!/cppman/
!/discord/settings.json
!/editorconfig/
!/environment.d/
!/foot/
!/fsh/
!/gdb/
!/gh/
!/git/
!/glow/
!/gtk-*/
!/harper-ls/
!/hypr/
!/lf/
!/lldb/
!/mimeapps.list
!/mpd/
!/mpv/
!/ncmpcpp/
!/neomutt/
!/newsboat/
!/nsxiv/
!/nvim/
!/nvimpager/
!/nwg-look/
!/pulse/daemon.conf
!/quartus/quartus2.ini
!/s-tui/
!/shell/
!/subversion/
!/swaylock/
!/sxiv/
!/tmux/
!/tofi/
!/transmission-daemon/blocklists
!/transmission/blocklists
!/user-dirs.dirs
!/uwsm/
!/waybar/
!/wget/
!/wofi/
!/x11/
!/xsettingsd/
!/yay/
!/zathura/
!/zsh/.zprofile
!/zsh/.zshrc
