/*
!**/.gitignore
!/alacritty
!/alsa
!/calcurse
!/cppman
!/discord/settings.json
!/editorconfig
!/fsh
!/flameshot
!/gh
!/git
!/glow
!/gtk-*
!/hypr
!/hypr
!/lf
!/mimeapps.list
!/mpd
!/mpv
!/ncmpcpp
!/neomutt
!/newsboat
!/nvim
!/nwg-look
!/pulse/daemon.conf
!/quartus/quartus2.ini
!/shell
!/swaylock
!/sxiv
!/tmux
!/tofi
!/transmission-daemon/blocklists
!/transmission/blocklists
!/user-dirs.dirs
!/waybar
!/wget
!/wofi
!/x11
!/xsettingsd
!/yay
!/zathura
