/*
!/mimeapps.list
!/user-dirs.dirs
!/alacritty
!/alsa
!/calcurse
!/cppman
!/discord/settings.json
!/editorconfig
!/fsh
!/gh
!/git
!/glow
!/gtk-*
!/hypr
!/lf
!/mpd
!/mpv
!/ncmpcpp
!/neomutt
!/newsboat
!/nvim
!/nwg-look
!/pulse/daemon.conf
!/quartus/quartus2.ini
!/shell
!/sxiv
!/tmux
!/transmission-daemon/blocklists
!/transmission/blocklists
!/wget
!/x11
!/xsettingsd
!/yay
!/zathura
!**/.gitignore
